# Import phospho-data from Stukalov et al.

This notebook reads the Supplementary Table 7 of Stukalov et al. (2021) and formats it for analysis with StructureMap.

https://www.nature.com/articles/s41586-021-03493-4#Sec37

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Phospho data

In [2]:
data_phospho = pd.read_csv('../data/unformatted_ptm_data/41586_2021_3493_MOESM11_ESM.txt', sep='\t')

In [3]:
hit_cols = list(data_phospho.filter(regex='is_hit').columns)
data_phospho['hit_sum'] = data_phospho[hit_cols].sum(axis=1)
data_phospho = data_phospho[['protein_ac','ptm_pos','ptm_AA','hit_sum']]
data_phospho = data_phospho.drop_duplicates().reset_index(drop=True)

data_phospho['p_stukalov'] = 1
#data_phospho['p_stukalov_reg'] = [1 if x > 0 else 0 for x in data_phospho.hit_sum]
data_phospho = data_phospho.drop(columns=['hit_sum'])

data_phospho = data_phospho.rename(columns={"protein_ac": "protein_id", 
                                    "ptm_pos": "position",
                                    "ptm_AA":'AA'})

In [4]:
data_phospho

      protein_id  position AA  p_stukalov
0         Q9NRG9       495  S           1
1         Q9NRG9       525  S           1
2         Q9NRG9       541  S           1
3         Q9NRG9       544  S           1
4         Q2M2I8        18  S           1
...          ...       ... ..         ...
16428     O43149      2443  S           1
16429     O43149      2444  S           1
16430     Q8IYH5        82  S           1
16431     Q8IYH5       113  S           1
16432     Q8IYH5       391  S           1

[16433 rows x 4 columns]

In [5]:
data_phospho.to_csv('../data/ptm_data/p_stukalov.csv', index=False)